.container {
  position: absolute;
  top: 10px;
  width: 70%;
  display: flex;
  margin-left: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  padding: 40px;
}


td {
  transition: transform 0.2s ease-in-out;
}

td:hover {
  transform: translateY(-5px);
}

tr:hover td {
  /* cursor:pointer; */
}

